[Service]
WorkingDirectory=/etc/systemd/system/
Type=oneshot
ExecStart=/bin/bash /home/stephen/eth-audit/audit.sh 

[Install]

WantedBy=multi-user.target